:root {
  --body-font-color: rgba(0, 0, 0, 0.6);
  --post-font-color: rgba(0, 0, 0, 0.7);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Archivo', sans-serif;
  background: #f2f2f2;
  background: linear-gradient(90deg, rgba(242, 242, 242, 1) 20%, rgba(0, 0, 0, 0) 100%);
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
}

* {
  box-sizing: border-box;
}

.monospace {
  font-family: 'Geist Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

pre {
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow:
    0 2px 2px rgba(141, 47, 0, 0.2),
    0 6px 6px rgba(92, 31, 0, 0.1),
    0 8px 8px rgba(92, 31, 0, 0.1);
}
